/* ---------- head ----------- */
.head {
    padding: 20px 0;
    color: #fff;
}

.logo h1 {
    font-size: 25px;
    font-weight: 900;
}

.head .icon {
    margin-left: 15px;
}

@media screen and (max-width: 768px) {}